@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap); /* montserrat */
@import url(https://use.typekit.net/jur8lgk.css); /* orbitron, shuriken-std */

.ui {
  font-family: montserrat, sans-serif !important;
}

.ui.dashboard.container {
  margin-top: 3em;
}

.ui.content.container {
  margin-top: 6em;
  margin-bottom: 2.6em;
}

.ui.footer.container {
  margin-top: 3.5em;
}

.ui.headline.container {
  margin-top: 7em;
  margin-bottom: 1.8em;
}

.ui.view-all-job-postings-by-posting-date.container {
  margin-top: 3.5em;
  margin-bottom: 3.5em;
}

.ui.button {
  font-family: orbitron, sans-serif !important;
}

.montserrat {
  font-family: montserrat, sans-serif !important;
}

.orbitron {
  font-family: orbitron, sans-serif !important;
}

.headline-1 {
  font-family: shuriken-std, sans-serif !important;
  font-size: 470%;
  font-style: normal;
}

.headline-2 {
  font-family: shuriken-std, sans-serif !important;
  font-size: 870%;
  font-style: normal;
}

.detail-header {
  font-family: orbitron, sans-serif !important;
  font-size: 130%;
}

.date {
  float: right;
  margin-bottom: 1em;
}

.extra {
  color: darkgrey;
}

.or {
  font-family: orbitron, sans-serif !important;
  color: white;
  text-align: center;
}

.coverLetterEdit {
  margin-bottom: 1em;
}
